/*
 First External CSS Stylesheet
 */

/* Styling for HTML elements*/
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 150%;
  color: #333;
  background: rgb(221, 220, 220);
}
h1 {
  color:rgb(56, 236, 176);
}

.lead{
  font-size: 20px;
  text-align: left;
}

/*Selecting elements by class*/
.imagesidebar{
width:150px;
top: 10px;
left: 10px;
}
.imagesidebarh{
  width:150px;
  bottom: 10px;
  left: 70px;
  z-index: 3;
  }

.imagesidebarc{
  width:150px;
  top: 10px;
  left: 130px;
  z-index: 2;
  }

  .imagesidebarw{
  width:150px;
  bottom: 10px;
  left: 190px;
  z-index: 1;
  }

.col-md-8{
  background-color: white;
}

.col-md-4{
  position: static;
  background-color: white;
}

.col-md-6{
  background-color: white;
  margin: auto;
  
}
.main-graph {
  width: 150px;
  height: 100px;
  margin-right: 20px;
  z-index: 1;
}

.navbar-header{
  background-color: rgb(56, 236, 176);
  
}

.navbar-brand{
  color: white;
}

.container-fluid{
  color: white;
}

.fig1{
  width:150px;
  bottom: 10px;
  left: 70px;
}

.fig2{
  width:150px;
  bottom: 10px;
  right: 70px;
  
}

.fig3{
  width:150px;
  bottom: 10px;
  left: 70px;
}

.fig4{
  width:150px;
  bottom: 10px;
  right: 70px;
}




  